

.menu_card{
    border: none;
}

.pin_container{
    margin-top: 10px;
}

.pin, .pin:hover, .pin:focus{

    margin: 5px;
    /* padding: 3px 3px 3px 3px; */
    color: white;
    border: none;
    
}

.pin:hover, .pin:focus{

    cursor: default;
}