

.menu_card{
    margin: 15px;
    background-color: #45505b;
    border: none;
    
}

.pin, .pin:hover, .pin:focus{

    margin: 5px;
    color: white;
    border: none;
    
}
.pin_text{
    color: white;
    max-width: 200px;
    word-wrap: break-word;
}
.pin:hover, .pin:focus{

    cursor: default;
}