@import '~antd/dist/antd.css'; 

body{
    background-color: #f0f2f5;
}

.layout_m{
    margin-left: 350px;
}

.content_m-20{
    margin: 20px
}
.forms-container{
    max-width: 1000px;
    margin: 0 auto;
}


.form-col {
    width: 50%;
}

.table-row-light {
    background-color: #ffffff;
}
.table-row-disabled {
    background-color: #f0f0f0;
    color: rgba(0, 0, 0, 0.4);
}

/* rgba(214, 228, 255, 0.75) */
.table-striped-rows tr:nth-child(2n) td {
    background-color:#f0f5ff;
}


.table-striped-rows thead {
    background-color: #d6e4ff;
}

.inputs-in-group {
    margin-right: 50px
}

.my_segment{
    margin-left: 50px;
}


.input-group > .ant-row {
    margin-right: 50px;
}
.site-page-header{
    background-color: #fff;
}

.cards-container{
    max-width: 1400px;
    margin: 0 auto;
}

.tag{
    margin: 3px
}

.edit_button{
    margin-top: 5px;
    margin-right: 5px;
}